Options +FollowSymLinks

RewriteEngine On

RewriteRule ^api/(.*)$ /app/api.php/$1




RewriteCond %{REQUEST_URI} ^/errors$

RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 




RewriteRule ^errors(/|$)(.*)$ /app/errorlog/index.php/$2

